.pt8 {
    padding-top: 8px;
}
.pt16 {
    padding-top: 16px;
}

.pb8 {
    padding-bottom: 8px;
}
.pb16 {
    padding-bottom: 16px;
}

.mt8 {
    margin-top: 8px;
}
.mt16 {
    margin-top: 16px;
}

.mb8 {
    margin-bottom: 8px;
}
.mb16 {
    margin-bottom: 16px;
}

